.lovable
.env
tsconfig.app.tsbuildinfo
tsconfig.node.tsbuildinfo
.tsbuild
# Logs
logs
*.log
npm-debug.log*

node_modules
dist
bun.lock*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
